# markdown basics
* **bold**
* *italic*
* ***bolditalic***
* *normal text
  * text1
  * text2

<img src='jupyter.png'>

In [1]:
i=1
i

1

In [2]:
i,j,k=1,2,3
print(i,j,k)

1 2 3

In [5]:
j=k

In [6]:
j

3

In [7]:
a,b = "hellow,"world"

SyntaxError: invalid syntax (<ipython-input-7-f43048cf2bc7>, line 1)

In [9]:
a,b="hellow","world"
print(a,b)

hellow world

# type casting

In [14]:
m=5
print(float(m))
n=str(m)
o=int(n)
print(n)

5.0
5

## arithmetic operations in python
* +
* -
* *
* %
* /
* **

In [15]:
2**3

8

In [16]:
a= 6
b=356
print("addition of a and b",(a+b))

addition of a and b 362

In [17]:
print("sub of an and b",(a-b))

sub of an and b -350

In [18]:
print("mul of a and b",(a*b))

mul of a and b 2136

In [19]:
print(("mod of a and b"),(a%b))

mod of a and b 6

In [20]:
print("div of a and b",(a/b))

div of a and b 0.016853932584269662

In [21]:
print("a^b",(a**b))

a^b 10515868255991697579712357017226535211499166754010817171978650872762877566917378636023425182697229231384013360370357403915245370626604483274564499087567803500488746596035373765338259411196232490140142009652941781257665449106229978344497893178912845330904230646789895513131974656

# indentation

In [23]:
i=10
if i>5:
    print("if statement excuted")
elif i==10:
    print("elsif is executed")
else:
    print("else excuted")

if statement excuted

# task
* i is +ve or -ve number

In [31]:
i= int(input("enter a integer value"))
if i>=0:
    print("integer is +ve")
else:
    print("integer is -ve")

enter a integer value0
integer is +ve


# 1.Strings
- String Indexing

- String Slicing

- Problem; Print all the alternate characters in the string

- Methods in Strings

- split()

- join()

- islower()

- isupper()

- lower()

- upper()

- count()

In [45]:
s= 'HELLOW WORLD!'
print(s[::-1])

!DLROW WOLLEH

In [46]:
s= 'HELLOW WORLD!'
print(s[1:9])

ELLOW WO

In [47]:
s=("1,2,3,4,5,6,7")
print(s[::-1])

7,6,5,4,3,2,1

In [50]:
s=("1234567")
print(s[::2])

1357

In [51]:
s=("1,2,3,4,5,6,7")
print(s[-2:])

,7

In [52]:
s=("1,2,3,4,5,6,7")
print(s[2::])

2,3,4,5,6,7

In [54]:
s=("1,2,3,4,5,6,7")
print(s[-6:-2])

,5,6

# string methods

In [55]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [61]:
s1='hellow world'
l1=s1.split()
print(s1.split())
print(l1)
print(l1[-1])

['hellow', 'world']
['hellow', 'world']
world

In [10]:
s3 = input()
l3 = s3.split('@')
print(l3)

chandu@andagadu
['chandu', 'andagadu']

In [12]:
l4= '#'.join(l3)
l5= ' '.join(l3)
print(l4)
print(l5)

chandu#andagadu
chandu andagadu

#### * islower

In [15]:
s1='ece'
if s1.islower():
    print("true")
else:
    print("false")

true

In [16]:
s1='ECE'
if s1.islower():
    print("f")
else:
    print("t")

t

#### * lower()

In [17]:
s2='CHANDU GADU ANDAGADU'
l1=s2.lower()
print(l1)

chandu gadu andagadu

#### * upper()

In [18]:
s2='chandu gadu andagadu'
l1=s2.upper()
print(l1)

CHANDU GADU ANDAGADU

#### * count()

In [19]:
s1='chandu gadu andagadu'
print(s1.count('a'))

5

# task
* check if a given string is palindrome or not

In [23]:
s1 =input("enter a string: ")
s2=(s1[::-1])
if s1==s2:
    print("given string is palindrome")
else:
    print("given string is not palindrone")

enter a string: hello
given string is not palindrone

# python functions
- Without arguments & without return values

- Without arguments & with return Value

- With arguments & without return values

- With arguments & return values

- Recursive Functions

Task : Evaluate a quadratic expression when the values 

are given using a python function

# task
 print length of a string

In [28]:
s1=input("enter a string")
print(len(s1))

enter a stringgood afternoon
14

# task

In [33]:
i=939
j='dwsj'
k=673678.637
i=print(type(i))
j=print(type(j))
k=print(type(k))

<class 'int'>
<class 'str'>
<class 'float'>

#### without argument return values
* addition of two nums

In [37]:
def addition_of_two_numbers():
    a= int(input())
    b= int(input())
    c= a+b
    print(c)
addition_of_two_numbers()

7
2
9

#### Without arguments & with return Value

In [40]:
def mul():
    i= int(input())
    j= int(input())
    k= i*j
    return k
a=mul()
print("mul",a)

3
2
mul 6

#### With arguments & without return values

In [1]:
def add_of_two_nums(i,j):
    k=i+j
    print(k)
i=4
j=5
add_of_two_nums(i,j)

9

In [2]:
i= 4
j= 8
add_of_two_nums(i,j)

12

#### With arguments & return values

In [1]:
def mul_of_two_nums(i,j):
    k=i*j
    print(k)
    return k
i=4
j=5
mul_of_two_nums(i,j)

20

20

In [2]:
i=int(input())
j=int(input())
mul_of_two_nums(i,j)

2
4
8

8

# task
* check the year is leap year or not

In [12]:
a= int(input("enter year"))
if (a%400==0) and (a%4==0) or (a%100 !=0):
    
    print("the given year is leap year")
else:
    print("the given year is not a leap year")

enter year1900
the given year is not a leap year

# task

In [13]:
a= int(input("enter a num"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a num3
odd

# iterations
loops
- While loop

- for loop
- do while

print 1....10

In [24]:
n= int(input("enter range "))
for i in range(0,n+1,2):
    print(i)

enter range 10
0
2
4
6
8
10

In [25]:
n= int(input("enter range "))
for i in range(0,n+1,2):
    print(i,end = ' ')

enter range 10
0 2 4 6 8 10

In [26]:
n= int(input("enter range "))
for i in range(0,n+1,5):
    print(i,end = ' ')

enter range 100
0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

#### while

In [28]:
i=1
n= int(input())
while i<n:
    print(i,end = ' ')
    i=i+1

10
1 2 3 4 5 6 7 8 9

In [32]:
def naturalnumbers(n):
    i=1
    while i<=n:
    print(i)
    i=i+1

IndentationError: expected an indented block (<ipython-input-32-e6f18282611e>, line 4)